<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="flex-form">
  <div>Personal Information</div>

  <div class="flex-row">
    <div class="flex-column">
      <label class="block mb-2 text-md text-gray-600" for="fullName"
        >Full Name</label
      >
      <input
        class="w-96 rounded-md p-2 placeholder-gray-300 border border-gray-300 focus:outline-none"
        type="text"
        id="fullName"
        placeholder="Full Name"
        formControlName="fullName"
      />
    </div>
    <div class="flex-column">
      <label for="dob" class="block mb-2 text-md text-gray-600"
        >Date of Birth</label
      >
      <input
        type="date"
        class="w-96 rounded-md p-2 placeholder-gray-300 border border-gray-300 focus:outline-none"
        id="dob"
        formControlName="dob"
      />
    </div>
    <div class="flex-column">
      <label class="block mb-2 text-md text-gray-600" for="fathersName"
        >Father's Name</label
      >
      <input
        class="w-96 rounded-md p-2 placeholder-gray-300 border border-gray-300 focus:outline-none"
        type="text"
        placeholder="Father's Name"
        id="fathersName"
        formControlName="fathersName"
      />
    </div>
  </div>

  <div class="flex-row">
    <div class="flex-column">
      <label class="block mb-2 text-md text-gray-600" for="bloodGroup"
        >Blood Group</label
      >
      <select
        class="w-96 rounded-md p-2 border border-gray-300 focus:outline-none"
        id="bloodGroup"
        formControlName="bloodGroup"
      >
        <option value="" disabled selected>Select Blood Group</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
    </div>
    <div class="flex-column">
      <label class="block mb-2 text-md text-gray-600" for="personalEmail"
        >Personal Email</label
      >
      <input
        class="w-96 rounded-md p-2 placeholder-gray-300 border border-gray-300 focus:outline-none"
        type="email"
        id="personalEmail"
        placeholder="Personal Email"
        formControlName="personalEmail"
      />
    </div>
    <div class="flex-column">
      <label class="block mb-2 text-md text-gray-600" for="personalMobileNumber"
        >Personal Mobile Number</label
      >
      <input
        class="w-96 rounded-md p-2 placeholder-gray-300 border border-gray-300 focus:outline-none"
        type="tel"
        id="personalMobileNumber"
        placeholder="Mobile Number"
        formControlName="personalMobileNumber"
      />
    </div>
  </div>

  <div class="flex-row">
    <div class="flex-column">
      <label class="block mb-2 text-md text-gray-600" for="contactAddress"
        >Contact Address</label
      >
      <input
        class="w-96 rounded-md p-2 placeholder-gray-300 border border-gray-300 focus:outline-none"
        id="contactAddress"
        placeholder="Contact Address"
        formControlName="contactAddress"
      />
    </div>
    <div class="flex-column">
      <label class="block mb-2 text-md text-gray-600" for="state"
        >Country</label
      >
      <select
        class="w-96 rounded-md p-2 border border-gray-300 focus:outline-none"
        id="state"
        formControlName="state"
      >
        <option value="" disabled selected>Select Country</option>
        <option value="CA">California</option>
        <option value="NY">New York</option>
      </select>
    </div>
    <div class="flex-column">
      <label class="block mb-2 text-md text-gray-600" for="pincode"
        >Pincode</label
      >
      <input
        class="w-96 rounded-md p-2 placeholder-gray-300 border border-gray-300 focus:outline-none"
        type="text"
        id="pincode"
        placeholder="Pincode"
        formControlName="pincode"
      />
    </div>
  </div>

  <div class="flex justify-center items-center">
    <button
      class="p-3 text-xl text-white font-bold rounded-md bg-[#2c8ace] w-48"
      type="submit"
      [disabled]="myForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
