.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 4rem;
}

.flex-column {
  flex: 1;
  margin-right: 16px;
  margin-bottom: 16px;
}
