<div class="h-64 flex items-center justify-center" [ngSwitch]="currentRoute">
  <ng-container *ngSwitchCase="'/information/personal-info'">
    <img
      src="../../../assets/images/onboardingwizard_2.svg"
      alt="Image 1"
      class="max-h-full max-w-full"
    />
  </ng-container>
  <ng-container *ngSwitchCase="'/information/work-history'">
    <img
      src="../../../assets/images/onboardingwizard_3.svg"
      alt="Image 2"
      class="max-h-full max-w-full"
    />
  </ng-container>
  <ng-container *ngSwitchCase="'/information/competency'">
    <img
      src="../../../assets/images/onboardingwizard_4.svg"
      alt="Image 2"
      class="max-h-full max-w-full"
    />
  </ng-container>
  <ng-container *ngSwitchDefault>
    <img
      src="../../../assets/images/onboardingwizard_2.svg"
      alt="Default Image"
      class="max-h-full max-w-full"
    />
  </ng-container>
</div>
