<div class="flex flex-col m-10 gap-3">
  <!-- header -->
  <div class="flex justify-between">
    <div class="flex flex-col">
      <span class="text-3xl">Time Sheet - Weekly</span>
      <span class="text-2xl">This Week, 9 Oct -15 Oct 2023</span>
    </div>

    <div class="flex gap-3">
      <button>Previous</button>
      <button>Next</button>
    </div>
  </div>
  <!-- table -->
  <div class="flex flex-col gap-3 border rounded-2xl p-5 bg-white">
    <div class="flex w-full gap-4">
      <div class="w-[20%]">
        <div class="bg-[#F7F7F7] flex-grow w-full p-2 border rounded">
          PROJECT
        </div>
      </div>
      <div class="w-[20%]">
        <div class="bg-[#F7F7F7] flex-grow w-full p-2 border rounded">
          RESPONSIBILITY
        </div>
      </div>
      <div class="w-[60%] flex">
        <div class="bg-[#F7F7F7] flex-grow p-2">MONDAY</div>
        <div class="bg-[#F7F7F7] flex-grow p-2">TUESDAY</div>
        <div class="bg-[#F7F7F7] flex-grow p-2">WEDNESDAY</div>
        <div class="bg-[#F7F7F7] flex-grow p-2">THURSDAY</div>
        <div class="bg-[#F7F7F7] flex-grow p-2">FRIDAY</div>
      </div>
    </div>
    <!-- use ngfor -->
    <div class="flex flex-col gap-2 w-full">
      <div class="flex w-full gap-4">
        <div class="w-[20%]">
          <select class="border rounded-lg p-1 w-full">
            <option value="">Select</option>
          </select>
        </div>
        <div class="w-[20%]">
          <input
            class="w-full p-1 border rounded-lg"
            type="text"
            placeholder="Task"
          />
        </div>
        <div class="w-[60%] flex flex-grow gap-2 flex-wrap">
          <input
            class="flex-grow border rounded-lg"
            type="text"
            placeholder="03:00"
          />

          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="hh:mm "
          />
          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="hh:mm"
          />
          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="hh:mm"
          />
          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="hh:mm"
          />
        </div>
      </div>
      <div class="flex flex-grow w-full gap-4">
        <div class="w-[20%]">
          <select class="border rounded-lg p-1 w-full">
            <option value="">Select</option>
          </select>
        </div>
        <div class="w-[20%]">
          <input
            class="w-full p-1 border rounded-lg"
            type="text"
            placeholder="Task"
          />
        </div>
        <div class="w-[60%] flex flex-grow gap-2 flex-wrap">
          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="03:00"
          />
          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="hh:mm "
          />
          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="hh:mm"
          />
          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="hh:mm"
          />
          <input
            class="bg-[#F7F7F7] flex-grow border rounded-lg"
            type="text"
            placeholder="hh:mm"
          />
        </div>
      </div>
      <div class="flex gap-5 text-white">
        <button class="p-2 bg-[#2c8ace] rounded-lg">Add Project</button>
        <button class="p-2 bg-[#2c8ace] rounded-lg">Submit</button>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="flex w-full">
    <div class="w-[40%] bg-[#F7F7F7] text-right flex-grow p-2 border rounded">
      TOTAL
    </div>

    <div class="flex text-center gap-5 w-[60%]">
      <span
        class="flex items-center justify-center w-full h-full rounded-lg border"
        >8:00</span
      >
      <span
        class="flex items-center justify-center w-full h-full rounded-lg border"
        >8:00</span
      >
      <span
        class="flex items-center justify-center w-full h-full rounded-lg border"
        >8:00</span
      >
      <span
        class="flex items-center justify-center w-full h-full rounded-lg border"
        >8:00</span
      >
      <span
        class="flex items-center justify-center w-full h-full rounded-lg border"
        >8:00</span
      >
    </div>
  </div>
</div>
