// .container {
//   height: 100vh;
//   overflow: hidden; /* Hide overflow from the container */
// }
::ng-deep * {
  margin: 0;
  padding: 0;
}

.title {
  color: #2C8ACE;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}