<aside
  class="w-20 bg-[#2C8ACE] fixed h-screen top-16 left-0 border-r border-gray-300 overflow-y-auto rounded-tr-lg rounded-br-lg"
>
  <ul class="text-[#191919] mt-4">
    <li *ngFor="let item of menuList; let i = index" class="p-5">
      <div
        (click)="navigateToPage(item, item.label.toLowerCase())"
        [routerLink]="item.label.toLowerCase()"
      >
        <img
          class="w-[4rem] h-auto hover:scale-150 transition-all duration-100 cursor-pointer"
          [src]="
            item.menuId === activeMenu.menuId
              ? item.activeImageUrl
              : item.imageUrl
          "
          [alt]="item.alt"
        />
      </div>
    </li>
  </ul>
</aside>
