@tailwind base;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=DM+Sans:opsz,wght@9..40,100;9..40,200&family=Indie+Flower&family=Poppins:wght@100&family=Roboto:wght@300&family=Smooch+Sans&family=Tinos&display=swap");
button:active {
  box-shadow: none;
  transform: translateY(0.1875rem);
}

.invalid-feedback {
  margin-top: 0.5em;
  color: red;
}
